<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>ph-drag-drop-rank Demo</title>

  <script src="../webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="ph-drag-drop-rank.html">
  
  <style>
  html /deep/ item {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0.5rem;
      padding: 1rem;
      background-color: #0066bb;
      color: white;
      border: 1px #0066bb solid;
    }
   </style>

</head>
<body unresolved>

  <p>A `ph-drag-drop-rank` looks like:</p>

  <ph-drag-drop-rank>
      <item>Answer 1</item>
      <item>Answer 2</item>
      <item>Answer 3</item>
      <item>Answer 4</item>
      <item>Answer 5</item>
      <item>Answer 6</item>
  </ph-drag-drop-rank>
</body>
</html>
