/* see http://css-tricks.com/snippets/css/keyframe-animation-syntax */
@keyframes pulsateOpacity {
  0%   { opacity: 1.0; }
  50%  { opacity: 0.3; }
  100% { opacity: 1.0; }
}

@keyframes droppedSource {
  0% {
    background-color: #0066bb;
  }

  50% {
    background-color: #bb1604;
  }

  100% {
    background-color: #0066bb;
  }
}

@keyframes droppedTarget {
  0% {
    background-color: #0066bb;
  }

  50% {
    background-color: #55bb05;
  }

  100% {
    background-color: #0066bb;
  }
}

:host {
  display: block;
}

/* item from the user distributed nodes input */
item {
  cursor: move;
  user-select: none;
}

/* The following styles can be overwritten from the outside */

/* The *mouse/finger moving* item style.
   Overwrite from the outside:
     ph-drag-drop-rank::shadow core-drag-drop::shadow core-drag-avatar item { ... }
*/
core-drag-drop::shadow core-drag-avatar item {
  border: 1px #30afff dashed;
  /*animation: pulsateOpacity 2s infinite linear !important;  <--- this will not work because the animation seems to be
                                                                   namespaced to the component and NOT this definition.
  */
}

item.animate-drop {
  transition: left 1s ease 0ms, top 1s ease 0ms;
}

/* the item element style which is currently *on the move*
   Overwrite from the outside:
     ivx-qtype-rank::shadow item.dragging { ... }
*/
item.dragging {
  border: 1px grey dashed;
  animation: pulsateOpacity 2s infinite linear;
}

item.dropped-source {
  animation: droppedSource 1s linear 0ms;
}

item.dropped-target {
  animation: droppedTarget 1s linear 0ms;
}
